.navbar-brand {
  padding-left: 5%;
}

.footerDiv {
  position: fixed;
  bottom: 0;
}
.mainDiv {
  text-align: center;
  padding-top: 2%;
}

ul {
  text-align: center;
  display: inline-block;
}

.footerDiv {
  padding-bottom: 2%;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.col {
  border: 1px solid;
  height: 140px;
}

div .text-center {
  display: flex;
  justify-content: center;
}

section {
  padding-top: 1%;
  padding-bottom: 1%;
}

.boxFloat {
  border: 1px;
  background-color: rgb(255, 232, 197);
  width: 100px;
  height: 200px;
  position: sticky;
  top: 30px;
  left: 30px;
  margin-right: 0;
  margin-left: auto;
}
.boxesDiv {
  display: flex;
  justify-content: space-evenly;
}

#subheader3 {
  position: absolute;
}

#c1 {
  border: 5px solid rgb(3, 3, 149);
  padding: 0.5em;
  padding-right: 2%;
  width: 20vw;
  height: 20vh;
}
#c2 {
  border: 5px dotted rgb(225, 115, 13);
  background-color: rgb(237, 194, 194);
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}
