.navbar-brand {
  padding-left: 5%;
}

.footerDiv {
  position: fixed;
  bottom: 0;
}
.mainDiv {
  text-align: center;
  padding-top: 2%;
}

ul {
  text-align: center;
  display: inline-block;
}

.footerDiv {
  padding-bottom: 2%;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
.col {
  border: 1px solid;
  height: 140px;
}

div .text-center {
  display: flex;
  justify-content: center;
}

section {
  padding-top: 1%;
  padding-bottom: 1%;
}

.boxFloat {
  border-radius: 50%;
  background-color: rgb(255, 232, 197);
  width: 200px;
  height: 200px;
  position: sticky;
  top: 30px;
  left: 30px;
  margin-right: 0;
  margin-left: auto;
  padding: 5%;
}
.textSpan {
  padding-top: 100px;
}

.boxesDiv {
  display: flex;
  justify-content: space-evenly;
}

#subheader3 {
  position: absolute;
}

#c1 {
  border: 5px solid rgb(3, 3, 149);
  margin: 2px;
  width: 20vw;
  height: 20vh;
}
#c2 {
  border: 5px dotted rgb(225, 115, 13);
  background-color: rgb(237, 194, 194);
  padding: 40px;
  margin: 40px;
  width: 20vw;
  height: 20vh;
}
#c3 {
  border: 15px solid rgb(225, 115, 13);
  background-color: rgb(237, 194, 194);
  padding: 10px;
  margin: -40px;
  width: 20vw;
  height: 20vh;
}

#c4 {
  border-radius: 2em;
  background: linear-gradient(
    105deg,
    rgba(10, 222, 241, 0.2) 39%,
    rgb(171, 222, 233) 96%
  );
  padding: 10px 20px 10px 20px;
  margin-top: 5px -40px 2px 5px;
  width: 20vw;
  height: 20vh;
}

#c5 {
  border: 5px solid;
  border-radius: 1em;
  background: linear-gradient(
    105deg,
    rgba(139, 19, 175, 0.2) 39%,
    rgb(119, 105, 243) 96%
  );
  padding: 10px 20px 10px 20px;
  margin-top: 5px -40px 2px 5px;
  width: 20vw;
  height: 20vh;
}
